.contenedor {
  display: flex;
  align-items: center; /* Alinear verticalmente los elementos */
}

.titulo{
    font-size: 5rem;
    font-weight: bold;
    color: #000000;
    text-align: start;
    margin-top: 5rem;
    margin-left: 8rem;   
}

.img{
  display: flex;
  justify-content: flex-end;
  margin-right: 5rem;
  margin-top: -30rem;
}

.titulo_des{
  font-size: 1rem;
  color: #000000;
  text-align: start;
  margin-left: 5rem;   
}

.btn{
  margin-left: 6.5rem;
  margin-top: 1rem;
  width: 10rem;
  height: 6rem;
}

.explorer {
  margin-left: 5rem;
  width: 10rem;

}
